.appointment {
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 1.4em;

  &:last-of-type {
    border-bottom: 0px;
  }

  .appointment-title{
    font-weight: bold;
  }
  .appointment-title, .appointment-time {
    display: inline;
    margin: 5px;
  }

  button{
    background-color: orangered;
    border-radius: 5px;
    color: white;
  }
  .close{
    float: right;
  }
}
